[Desktop Entry]
Comment=Neon Knights Look And Feel
Name=Neon Knights Red
X-KDE-PluginInfo-Author=ju1464
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Neon-Knights-Red
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=https://www.pling.com/u/ju1464/
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://aurorae.knsrc/api.kde-look.org/1320441,kns://colorschemes.knsrc/api.kde-look.org/1320447,kns://plasma-themes.knsrc/api.kde-look.org/1320469,kns://icons.knsrc/api.kde-look.org/1313081,kns://wallpaper.knsrc/api.kde-look.org/1320457,kns://sddmtheme.knsrc/api.kde-look.org/1362261
