!Colors

*background: #282828
*foreground: #ebdbb2

! Black + DarkGrey
*color0: #282828
*color8: #928374
! DarkRed + Red
*color1: #cc241d
*color9: #fb4934
! DarkGreen + Green
*color2: #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3: #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4: #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5: #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6: #689d6a
*color14: #8ec07c
! LightGrey + White
*color7: #a89984
*color15: #ebdbb2


! Xft settings
Xft.dpi:                96
Xft.antialias:          1
Xft.autohint:           0
Xft.hinting:            1
Xft.rgba:               rgb

!==============================================================================
! rofi
!------------------------------------------------------------------------------

rofi.terminal:          urxvt
rofi.run-shell-command: urxvt -e '{cmd}'
rofi.ssh-command:       tmux split-window -h -p 50 '{ssh-client} {host}'
rofi.location:      0
rofi.width:         100
rofi.padding:       420
rofi.borderwidth:   2
rofi.lines:         5
rofi.opacity:       80
rofi.font:          SFNS 12
rofi.eh:            2

! urxvt
URxvt*scrollBar:         false
URxvt*scrollBar_right:   false


URxvt*transparent:       false
URxvt.shading:            2

URxvt.font: xft:Droid Sans Mono:pixelsize=16
URxvt.letterSpace: -2

*antialias:  true
*autohint:   true
