[Desktop Entry]
Exec=/home/lstrohm/.config/old-autostart-scripts/conky.sh
Icon=dialog-scripts
Name=conky.sh
Path=
Type=Application
X-KDE-AutostartScript=true
Hidden=false

