[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/lstrohm/.config/old-autostart-scripts/modprobe.sh
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=modprobe.sh
Name=modprobe.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
