[Desktop Entry]
Name=Pionux
Comment=Pionux Aurorae Theme
X-KDE-PluginInfo-Author=Koompi Pionux
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Pionux
X-KDE-PluginInfo-Version=2.0.3
