[Desktop Entry]
Icon=application-zip
Name=Hobart Test.zip
Type=Link
URL[$e]=file:$HOME/Audit-Files/HS/applegatec@madisonrams.net/Hobart Test.zip
X-KDE-LastOpenedWith=org.kde.ark
