[Desktop Entry]
Icon=font-ttf
Name=Knack Regular Nerd Font Complete.ttf
Type=Link
URL[$e]=file:$HOME/Downloads/Knack Regular Nerd Font Complete.ttf
X-KDE-LastOpenedWith=org.kde.kfontview
