#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Calculator
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=joodangkbfjnajiiifokapkpmhfnpleo
Icon=chrome-joodangkbfjnajiiifokapkpmhfnpleo-Default
StartupWMClass=crx_joodangkbfjnajiiifokapkpmhfnpleo
