#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chrome Connectivity Diagnostics
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=eemlkeanncmjljgehlbplemhmdmalhdc
Icon=chrome-eemlkeanncmjljgehlbplemhmdmalhdc-Default
StartupWMClass=crx_eemlkeanncmjljgehlbplemhmdmalhdc
