#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Beagle Term
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=gkdofhllgfohlddimiiildbgoggdpoea
Icon=chrome-gkdofhllgfohlddimiiildbgoggdpoea-Default
StartupWMClass=crx_gkdofhllgfohlddimiiildbgoggdpoea
