[Desktop Entry]
Categories=GNOME;System;Network;
Comment[en_US]=Graphical Network Monitor
Comment=Graphical Network Monitor
Comment[af]=Grafiese netwerkmonitor
Comment[ast]=Monitor gráficu de rede
Comment[be]=Графічны сеціўны манітор
Comment[bg]=Графично наблюдение на мрежата
Comment[bn]=গ্রাফিকেল নেটওয়ার্ক পর্যবেক্ষণ
Comment[bs]=Grafički nadzornik mreže
Comment[ca@valencia]=Monitor gràfic de xarxa
Comment[ca]=Monitor gràfic de xarxa
Comment[crh]=Grafiksel Ağ Görüntü Birimi
Comment[cs]=Grafické sledování sítě
Comment[da]=Grafisk netværksovervågning
Comment[de]=Grafischer Netzwerkmonitor
Comment[el]=Γραφική παρακολούθηση δικτύου
Comment[eo]=Grafika Reta Kontrolilo
Comment[es]=Monitor Gráfico de Red
Comment[et]=Graafiline võrgumonitor
Comment[eu]=Sare Monitore Grafikoa
Comment[fa]=نمایشگر شبکه گرافیکی
Comment[fi]=Graafinen verkonvalvonta
Comment[fr]=Surveillance graphique du réseau
Comment[fr_CA]=Moniteur graphique de réseau
Comment[gl]=Monitor Gráfico de Rede
Comment[hr]=Grafički prikaz mreže
Comment[hu]=Grafikus hálózatfigyelő
Comment[id]=Monitor Jaringan Berbasis Grafik
Comment[it]=Monitor di rete grafico
Comment[ja]=グラフィカルなネットワークモニタ
Comment[ko]=그래픽 네트워크 모니터
Comment[ky]=Графикалык тармак монитору
Comment[ms]=Pemantau Rangkaian Bergrafik
Comment[nb]=Grafisk nettverksovervåking
Comment[nl]=Grafische netwerkmonitor
Comment[oc]=Susvelhança grafica de la ret
Comment[pl]=Graficzny monitor sieci
Comment[pt]=Monitor Gráfico de Rede
Comment[pt_BR]=Monitor Gráfico de Rede
Comment[ro]=Monitor grafic pentru rețea
Comment[ru]=Графический сетевой монитор
Comment[sk]=Grafický monitoring sieťovej prevádzky
Comment[sl]=Grafični nadzornik omrežja
Comment[sq]=Monitorues Grafik i Rrjetit
Comment[sv]=Grafisk nätverksövervakare
Comment[ta]=வலைப்பின்னல் திரையகம்
Comment[tg]=Монитори шабакаи графикӣ
Comment[th]=กราฟิกแสดงสถานะของเครือข่าย
Comment[tr]=Grafiksel Ağ Görüntü Birimi
Comment[uk]=Графічний монітор мережі
Comment[vi]=Trình theo dõi mạng có giao diện đồ hoạ
Comment[zh_CN]=图形化网络监视器
Comment[zh_HK]=圖像化網絡監控器
Comment[zh_TW]=圖像化網路監控器
Exec=sudo etherape
GenericName[en_US]=A Graphical Network Browser
GenericName=A Graphical Network Browser
GenericName[de]=Ein grafischer Netzwerk-Browser
GenericName[es]=Un monitor gráfico de red
GenericName[fr]=Un navigateur de réseau graphique
GenericName[it]=Visualizza il traffico di rete
GenericName[ru]=Графический просмотр сети
GenericName[sv]=En grafisk nätverksbläddrare
GenericName[tr]=Grafiksel Ağ İzleyici
Icon=etherape
Keywords=network;etherape;network;monitor;
MimeType=
Name[en_US]=EtherApe
Name=EtherApe
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.23
X-KDE-SubstituteUID=false
X-KDE-Username=
